body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 20%;
    background-color: #1f1f1f;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.tags, .group {
    margin-top: 30px;
}

.content {
    width: 60%;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header input[type="search"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

header button {
    padding: 10px 20px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.posts .post {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.username {
    font-weight: bold;
}

.username .time {
    font-weight: normal;
    color: #777;
}

.stats {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    color: #777;
}

.ads {
    width: 20%;
    padding: 20px;
}

.ads h3 {
    margin-bottom: 20px;
}

.ad {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ad img {
    width: 100%;
    border-radius: 10px;
}

.ad p {
    margin-top: 10px;
    color: #333;
}
